/* General Styles */
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.pro-card {
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* min-height: 200vh; */
  /* border: 1px solid rgb(109, 109, 109); */
  margin: 5%;
}

.btn-profile {
  /* background: rgba(0, 0, 0, 0.6); */
  color: white;
  border: none;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  margin-left: -42%;
  /* left: -50; */
}

.main-div {
  width: 100%;
  background: #fff;
  margin-top: 3%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* border: 2px solid black ; */
  display: inline-block;
}

/* Profile Image */
.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  /* border: 5px solid #28a745; */
}
.profile-img p{
  text-align: center;
  align-items: center;
  margin-top: 27%;
  justify-content: center;

}

.pro-img-p{
  text-align: center;
  align-items: center;
  /* margin-top: 47%; */
  justify-content: center;
}
.btn-profile{
  border: 1px solid #28a745;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  /* margin-top: 10%; */
}
.btn-profile-non{
  border: 1px solid #28a745;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin-left: 60%;
  z-index: 100;
  margin-top: -30%;
}

/* Progress Bar */
.progress {
  height: 15px;
  border-radius: 5px;
  overflow: hidden;
  background: #ddd;
}

.progress-bar {
  background-color: #28a745;
  transition: width 0.7s ease-in-out;
}

/* Buttons */
.btn {
  padding: 10px;
  border-radius: 5px;
}

.btn-success {
  background-color: #28a745;
  color: white;
  border: none;
}

.btn-outline-success {
  border: 1px solid #28a745;
  color: #28a745;
}

.btn:hover {
  opacity: 0.8;
}

/* Modal card styling */
.modal-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 800px;
  height: 500px;
  text-align: center;
  position: relative;
}

/* Close button */
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  height: 500px;
  text-align: center;
  position: relative;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 40px;
}

.input-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
  /* margin: 20px auto; */
}
.input-wrapper>h6{
  font-size: 25vh;
  /* align-items: center; */
 
}
.input-wrapper-1{
  justify-content: center;
  overflow: hidden;

}

.input-t {
  position: absolute;
  opacity: 0.8;
  cursor: pointer;
}

.profile-img-input{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  justify-content: center;
}

/* Position buttons at bottom-right */
.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 90px;
}

/* for left side card css */
.left-card{
  width: 25%;
  float: left;
  border: 1px solid rgb(162, 162, 162);
  /* padding: 2%; */
}
.left-card-right-btn{
  float: right;
  width: 20%;
}
.left-card-left-pro{
  width: 80%;
  float: left;
  /* margin-top: 4%; */
}

.left-card-details,.left-card-education,.left-card-language{
  /* border: 1px solid rgb(162, 162, 162); */
  float: left;
  width: 100%;
  padding: 2%;
  
}
.left-card-education{
  min-height: 20vh;
  max-height: auto;
}

.education-div{
  display: flex;
  /* gap: 40%; */
  justify-content: space-between;
}
.language-p{
  /* background-color: rgb(228, 225, 225); */
  width: fit-content;
  padding: 1% 2%;
  font-size: 18px;
  border-radius: 5px;
}
.p-card{
  border: 1px solid rgb(159, 158, 158);
}
/* right profile card */
.right-card{
  width: 75%;
  float: right;
  height: auto;
  display: block;
  /* border: 1px solid rgb(219, 26, 26); */
}
.right-card-title{
  border: 1px solid rgb(159, 158, 158);
  display: flex;
  height: auto;
}
.right-card-profile{
  width: 100%;
  /* float: right; */
  height: 75%;
  display: flex;
  border: 1px solid rgb(159, 158, 158);
}
.right-card-all-skill{
  width: 100%;

  height: auto;
  display: flex;
  border: 1px solid rgb(159, 158, 158);
}
.right-card-all-project{
  width: 100%;
  height: auto;
  display: flex;
  border: 1px solid rgb(159, 158, 158);

}
.btn-overview{
  float: right;
  border: 1px solid #28a745;
  border-radius: 50%;
  height: 40px;
  font-size: 20px;
  width: 40px;
}
.btn-rate{
  border: 1px solid #28a745;
  border-radius: 50%;
  height: 40px;
  font-size: 20px;
  width: 40px;
}
.right-card-right{
  width: 25%;
  float: right;
  height: 50px;
  display: inline-flex;
}
.right-card-right-rate{
  display: inline-flex;

}
.text-area-rate{
  width: 150px;
  height: 50px;
  float: right;
  position: absolute;
  right: 0;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 5%;
}
.right-card-left{
  width: 75%;
  float: left;
  height: auto;
  /* border-bottom: 1px solid rgb(162, 162, 162); */
}

.right-card-left-right{
  float: right;
  width: 10%;
  justify-content: center;
  padding:3px;
  text-align: end;
  align-items: center;

}
.right-card-left-left{
  float: left;
  width: 90%;
  padding:1% 2%;
}
.right-card-right-left{
  float: left;
  width: 80%;
  padding:3px 2%;
}
.right-card-right-right{
  float: right;
  width: 10%;
  padding:3px;

}
.right-card-all-left{
  float: left;
  width: 80%;
  /* height: 10vh; */
  max-height: 40vh;
  /* overflow-x: scroll; */
  overflow-y: auto;
  /* border: 1px solid black; */
  padding: 2% 5%;
}
.right-card-all-skill-left{
  float: left;
  width: 80%;
  height: 100%;
  padding: 2% 5%;
  display: block;
}
.right-card-all-skill-left-p{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* margin: auto; */
  /* padding: 5px; */
}


.right-card-all-right{
  float: right;
  width: 20%;
  justify-content: center;
  padding:3% 1%;
}

.right-card-all-skill-right{
  float: right;
  width: 20%;
  justify-content: center;
  padding:3% 1%;
}
.bgskill {
  padding: 5px 10px;
  border-radius: 5px;
  /* color: white; */
  display: inline-block;
  background-color:rgb(245, 232, 232) ;
  margin: 5px; /* Adds spacing */
}

.text-area-pro{
  width: 100%;
  /* min-height: 150px; */
  max-height: 100px;
  border-radius: 10px;
  padding: 12px;
}

/* for show modal css */
.modal-card-1 {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  text-align: center;
  position: relative;
}
.modal-card-2 {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 800px;
  height: 350px;
  text-align: center;
  position: relative;
}
.modal-card-3 {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 800px;
  height: 350px;
  text-align: center;
  position: relative;
}
.modal-card-e {
  margin-top: 5%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 800px;
  height: 650px;
  /* overflow-y: scroll; */
  /* text-align: center; */
  position: relative;
}
.input-wrapper-e {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 450px;
  cursor: pointer;
  /* margin: 20px auto; */
}
.input-wrapper-e label{
  font-size: 25px;
}
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 40px;
}
.modal-buttons-1{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2%;
  margin-top: 5%;
  /* border: 1px solid black; */
}
.modal-buttons-1>button{
  font-size: 22px;
}
.modal-buttons-2{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2%;
  margin-top: 2%;
  /* border: 1px solid black; */
}
.modal-buttons-2>button{
  font-size: 22px;
}

.input-wrapper-2 {
  text-align: left;
}
.input-wrapper-2 >p{
  border-top:1px solid rgb(162, 162, 162) ;
  font-size: 20px;
}
.text-area-title{
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}
.text-1 ,.text-2{
  height: 50px;
  width: 47.5%;
  border-radius: 10px;
}

.text-2{
  margin-left: 5%;
}
/* Responsive Design */
/* Extra Small Devices (phones, 0px - 575px) */
@media (min-width:1200px) {
  .left-card-language , .left-card-education{
    border-top:1px solid rgb(159, 158, 158);
  }
  .modal-card {
    background: white;
    padding: 2% 1%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 35%;
    height: auto;
    text-align: center;
    position: relative;
    margin: 5% auto;
    /* display: inline-block; */
  }
  .modal-card h5{
    font-size: 30px;
  }
  .input-wrapper-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
  
  .input-file-hidden {
    display: none;
  }
  
  .custom-file-label {
    display: inline-block;
    color: white;
    /* padding: 12px 20px; */
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 30px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  }
  
  .custom-file-label:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }
  
  .custom-file-label:active {
    transform: translateY(1px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
 
  .input-wrapper{
    margin: auto;
    height: 200px;
    width: 200px;
  }
  .profile-img-input{
    margin: auto;
    height: 100%;
    width: 100%;
  }
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  .modal-buttons button{
    font-size: 22px;
  }
  .pro-img-p{
    width: 100%;
    height: 100%;
  }
  /* for profile overview card */
  .modal-card-1 {
    background: white;
    /* padding: ; */
    border-radius: 10px;
    margin: auto 3%;
    width: 600px;
    height: auto;
    text-align: center;
    position: relative;
    font-size: 18px;
  }
  .modal-card-1 h1{
    font-size: 24px;
  }
  .modal-card-1 h3{
    font-size: 20px;
  }
  .modal-buttons-1{
    display: flex;
    justify-content: space-between;
  }
  .modal-buttons-1>button{
    font-size: 18px;
    padding: 1% 2%;
    /* width: 20vh; */
  }
  .text-area-pro{
    /* max-height: 150px; */
    min-height: 100px;
  }
  .modal-buttons-2{
    display: flex;
    /* float: left; */
    /* gap: 30%; */
    justify-content: space-between;
  }
  .modal-buttons-2 >button{
    font-size: 22px;
    padding: 1%;
    /* width: 20vh; */
  }
}
 @media (max-width:1200px) {
  .pro-card{
    margin-top: 7%;

  }
  .left-card-language , .left-card-education{
    border-top:1px solid rgb(159, 158, 158);
  }
  .modal-card {
    background: white;
    padding: 5% 1%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    height: auto;
    text-align: center;
    position: relative;
    font-size: 36px;
    /* display: inline-block; */
  }
  .modal-card h5{
    font-size: 40px;
  }
  .input-wrapper-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
  
  .input-file-hidden {
    display: none;
  }
  
  .custom-file-label {
    display: inline-block;
    color: white;
    /* padding: 12px 20px; */
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 30px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  }
  
  .custom-file-label:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }
  
  .custom-file-label:active {
    transform: translateY(1px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  .input-t{
    height: 30%;
    width: 100%;
  }
  .input-wrapper{
    margin: auto;
    height: 200px;
    width: 200px;
  }
  .profile-img-input{
    margin: auto;
    height: 100%;
    width: 100%;
  }
  .modal-buttons {
    display: flex;
    justify-content: space-evenly;
  }
  .modal-buttons button{
    font-size: 22px;
    width: 30%;
    margin-top: 5%;

  }
  /* for profile overview card */
  .modal-card-1 {
    background: white;
    /* padding: ; */
    border-radius: 10px;
    margin: auto 3%;
    width: 50%;
    height: auto;
    text-align: center;
    position: relative;
    font-size: 18px;
  }
  .modal-card-1 h1{
    font-size: 28px;
  }
  .modal-card-1 h3{
    font-size: 20px;
  }
  .modal-buttons-1{
    display: flex;
    justify-content: space-between;
  }
  .modal-buttons-1 button{
    font-size: 22px;
    padding: 1%;
    /* width: 20vh; */
  }
  .text-area-pro{
    /* max-height: 120px; */
    min-height: 120px;
  }
  .modal-buttons-2{
    display: flex;
    /* float: left; */
    /* gap: 30%; */
    justify-content: space-between;
  }
  .modal-buttons-2 >button{
    font-size: 22px;
    padding: 1%;
    /* width: 20vh; */
  }
 }
 @media (max-width:992px) {
  .pro-card{
    width: 94%;
    display: block;
    margin:8% auto;
  }
  .left-card{
    width: 100%;
    display: block;
  }
  .right-card{
    width: 100%;
    display: block;
  }
  .right-card-left{
    width: 100%;
    display: block;
  }
  .right-card-right{
    width: 100%;
    display: block; 
    border-top:1px solid rgb(159, 158, 158);
  }
  .right-card-title{
    width: 100%;
    display: block;
  }
  .left-card-language , .left-card-education{
    border-top:1px solid rgb(159, 158, 158);
  }
  .modal-card {
    background: white;
    padding: 10% 1%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 55%;
    height: auto;
    text-align: center;
    position: relative;
    font-size: medium;
    /* display: inline-block; */
  }
  .modal-card h5{
    font-size: 22px;
  }
  .input-wrapper-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
  
  .input-file-hidden {
    display: none;
  }
  
  .custom-file-label {
    display: inline-block;
    color: white;
    /* padding: 12px 20px; */
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 30px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  }
  
  .custom-file-label:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }
  
  .custom-file-label:active {
    transform: translateY(1px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  .input-wrapper{
    margin: auto;
    height: 50%;
    width: 50%;
  }
  .profile-img-input{
    margin: auto;
    height: 100%;
    width: 100%;
  }
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  .modal-buttons>button{
    font-size: 22px;
    /* width: 33%; */
    margin-top: -5%;
  }
  /* for profile overview card */
  .modal-card-1 {
    background: white;
    border-radius: 10px;
    margin: auto;
    width: 55%;
    height: auto;
    text-align: center;
    position: relative;
  }

  /* for eduction modal card */
  .modal-card-e{
    width: 55%;
    margin: auto;
    height: auto;
  }

  .input-wrapper-e{
    width: 98%;
    margin: auto;
  }

  /* for language modal card */
  .modal-card-3{
    width: 55%;
    margin: auto;
    height: auto;
  }
  .input-wrapper-2{
    width: 98%;
    margin: auto;
  }
  .text-area-rate{
    width: 20%;
  }

  /* for title  modal card */
  .modal-card-2{
    width: 55%;
    margin: auto;
    height: auto;
  }
  .modal-buttons-1{
    width: 100%;
    height: fit-content;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    /* font-size: 19px; */
  }
  .modal-buttons-1>button{
    /* height: fit-content; */
    padding: 1%;
    font-size: 22px;
  }
  .input-wrapper-2{
    width: 98%;
    margin: auto;
  }
 }
 @media (max-width:768px) {
  .pro-card{
    width: 94%;
    display: block;
    margin:8% auto;
  }
  .left-card{
    width: 100%;
    display: block;
  }
  .right-card{
    width: 100%;
    display: block;
  }
  .right-card-left{
    width: 100%;
    display: block;
  }
  .right-card-right{
    width: 100%;
    display: block; 
    border-top:1px solid rgb(159, 158, 158);
    /* margin-left: -10px; */
  }
  .right-card-right-left{
    text-align: left;
  }
  .right-card-title{
    width: 100%;
    display: block;
  }
  .left-card-language , .left-card-education{
    border-top:1px solid rgb(159, 158, 158);
  }
  .modal-card {
    background: white;
    padding: 2% 4%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 70%;
    height: auto;
    text-align: center;
    position: relative;
    font-size: medium;
    /* display: inline-block; */
  }
  .modal-card>h5{
    font-size: 26px;
    margin-bottom: 10%;
  }
  .input-wrapper-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
  
  .input-file-hidden {
    display: none;
  }
  
  .custom-file-label {
    display: inline-block;
    color: white;
    /* padding: 12px 20px; */
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 30px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  }
  
  .custom-file-label:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }
  
  .custom-file-label:active {
    transform: translateY(1px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  .input-wrapper{
    margin: auto;
    height: 150px;
    width: 150px;
  }
  .profile-img-input{
    margin: auto;
    height: 100%;
    width: 100%;
  }
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  .modal-buttons>button{
    font-size: 26px;
    /* width: 33%; */
    margin-top: -5%;
  }
  /* for profile overview card */
  .modal-card-1 {
    background: white;
    border-radius: 10px;
    margin: auto;
    width: 70%;
    height: auto;
    text-align: center;
    position: relative;
  }
  .modal-buttons-1,.modal-buttons-2{
    display: flex;
    /* gap: 10%; */
    justify-content: space-between;
  }
  .modal-buttons-1>button{
    font-size: 26px;
    padding: 1% 2%;
    /* width: 20vh; */
  }
  .modal-buttons-2>button{
    font-size: 26px;
    padding: 1% 2%;
    /* width: 20vh; */
  }
  /* for eduction modal card */
  .modal-card-e{
    width: 70%;
    margin: auto;
    height: auto;
  }

  .input-wrapper-e{
    width: 98%;
    margin: auto;
  }

  /* for language modal card */
  .modal-card-3{
    width: 70%;
    margin: auto;
    height: auto;
  }

  .input-wrapper-2{
    width: 98%;
    margin: auto;
  }
  .text-area-rate{
    width: 20%;
  }

  /* for title  modal card */
  .modal-card-2{
    width: 70%;
    margin: auto;
    height: auto;
  }

  .input-wrapper-2{
    width: 98%;
    margin: auto;
  }
 }
 @media (max-width:576px) {
  .pro-card{
    width: 94%;
    display: block;
    margin:12% auto;
  }
  .main-div{
    margin-top: 8%;
  }
  .btn-overview{
    float: right;
    border: 1px solid #28a745;
    border-radius: 50%;
    height: 30px;
    font-size: 16px;
    width: 30px;
  }
  .btn-profile{
    border: 1px solid #28a745;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    /* margin-top: 10%; */
  }
  /* Profile Image */
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  /* border: 5px solid #28a745; */
}
  .left-card{
    width: 100%;
    display: block;
  }
  .right-card{
    width: 100%;
    display: block;
  }
  .right-card-left{
    width: 100%;
    display: block;
  }
  .right-card-right{
    width: 100%;
    display: block; 
    border-top:1px solid rgb(159, 158, 158);
    text-align: left;
  }
  .right-card-title{
    width: 100%;
    display: block;
  }
  .left-card-language , .left-card-education{
    border-top:1px solid rgb(159, 158, 158);
  }
  .modal-card {
    background: white;
    padding: 10% 1%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 85%;
    height: auto;
    text-align: center;
    position: relative;
    font-size: medium;
    /* display: inline-block; */
  }
  .modal-card h5{
    font-size: 22px;
  }
  .input-wrapper-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
  
  .input-file-hidden {
    display: none;
  }
  
  .custom-file-label {
    display: inline-block;
    color: white;
    /* padding: 12px 20px; */
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 30px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  }
  
  .custom-file-label:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }
  
  .custom-file-label:active {
    transform: translateY(1px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  .input-wrapper{
    margin: auto;
    height: 150px;
    width: 150px;
  }
  .input-wrapper>h6{
    width: 100px;
    height: 100px;
  }
  .profile-img-input{
    margin: auto;
    height: 100%;
    width: 100%;
  }
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  .modal-buttons>button{
    font-size: 30px;
    /* width: 33%; */
    margin-top: -5%;
  }
  /* for profile overview card */
  .modal-card-1 {
    background: white;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    height: auto;
    text-align: center;
    position: relative;
  }
  .modal-buttons-1{
    display: flex;
    padding: 2%;
    justify-content: space-between;
    margin-top: 7%;
    width: 100%;
  }
  .modal-buttons-1>button{
    font-size: 26px;
    /* width: 20vh; */
    padding: 1% 2%;
  }
  .modal-buttons-2{
    display: flex;
    /* gap: 10%; */
    justify-content: space-between;
    width: 100%;
  }
  .modal-buttons-2>button{
    font-size: 30px;
    margin-bottom: -10%;
    /* width: 20vh; */

  }
  /* for eduction modal card */
  .modal-card-e{
    width: 80%;
    margin: auto;
    height: 65%;
  }
  .input-wrapper-e{
    width: 96%;
    overflow-y: auto;
    margin: auto;
    height: 70%;
  }

  /* for language modal card */
  .modal-card-3{
    width: 80%;
    margin: auto;
    height: auto;
  }

  .input-wrapper-2{
    width: 98%;
    margin: auto;
  }
  .text-area-rate{
    width: 20%;
  }

  /* for title  modal card */
  .modal-card-2{
    width: 80%;
    margin: auto;
    height: auto;
  }
  .input-wrapper-2{
    width: 98%;
    margin: auto;
  }
 }
 @media (max-width:400px) {
  .pro-card{
    width: 94%;
    display: block;
    margin:8% auto;
  }
  .main-div{
    margin-top: 10%;
  }
  .btn-overview{
    float: right;
    border: 1px solid #28a745;
    border-radius: 50%;
    height: 30px;
    font-size: 16px;
    width: 30px;
  }
  .btn-profile{
    border: 1px solid #28a745;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    /* margin-top: 10%; */
  }
  /* Profile Image */
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  /* border: 5px solid #28a745; */
}
  .left-card{
    width: 100%;
    display: block;
  }
  .right-card{
    width: 100%;
    display: block;
  }
  .right-card-left{
    width: 100%;
    display: block;
    padding: 2% 1%;
  }
  .right-card-right{
    width: 100%;
    display: block; 
    border:1px solid rgb(159, 158, 158);
    padding: 2%;
    text-align: left;
  }
  .right-card-title{
    width: 100%;
    display: block;
  }
  .left-card-language , .left-card-education{
    border-top:1px solid rgb(159, 158, 158);
  }
  .modal-card {
    background: white;
    padding: 10% 1%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    height: auto;
    text-align: center;
    position: relative;
    font-size: medium;
    /* display: inline-block; */
  }
  .modal-card h5{
    font-size: 22px;
  }
  .input-wrapper-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
  
  .input-file-hidden {
    display: none;
  }
  
  .custom-file-label {
    display: inline-block;
    color: white;
    /* padding: 12px 20px; */
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 30px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  }
  
  .custom-file-label:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }
  
  .custom-file-label:active {
    transform: translateY(1px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  .input-wrapper{
    margin: auto;
    height: 150px;
    width: 150px;
  }
  .profile-img-input{
    margin: auto;
    height: 100%;
    width: 100%;
  }
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  .modal-buttons>button{
    font-size: 30px;
    /* width: 33%; */
    margin-top: -5%;
  }
  /* for profile overview card */
  .modal-card-1 {
    background: white;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    height: auto;
    text-align: center;
    position: relative;
  }
  .modal-buttons-1{
    display: flex;
    width: 100%;
    /* gap: 10%; */
    justify-content: space-between;
    margin-top: 7%;
    padding: 2%;
  }
  .modal-buttons-1>button{
    font-size: 26px;
    padding: 1%;
    /* width: 20vh; */
  }
  .modal-buttons-2{
    display: flex;
    width: 100%;
    /* gap: 10%; */
    justify-content: space-between;
  }
  .modal-buttons-2>button{
    font-size: 30px;
    padding: 1%;
    /* width: 20vh; */
  }
  /* for eduction modal card */
  .modal-card-e{
    width: 90%;
    margin: auto;
    height: 70%;
  }
  .input-wrapper-e{
    width: 96%;
    overflow-y: auto;
    margin: auto;
    height: 70%;
  }

  /* for language modal card */
  .modal-card-3{
    width: 90%;
    margin: auto;
    height: auto;
  }
  .input-wrapper-2{
    width: 98%;
    margin: auto;
  }
  .text-area-rate{
    width: 20%;
  }

  /* for title  modal card */
  .modal-card-2{
    width: 90%;
    margin: auto;
    height: auto;
  }
  .input-wrapper-2{
    width: 98%;
    margin: auto;
  }

 }