* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-main-img-div {
    width: 100%;
    position: relative;
}

.user-main-img-div>img {
    height: 600px;
    width: 100%;
    /* border-bottom-right-radius: 20% 15%; */
    /* border-bottom-left-radius: 40% 20%; */
    /* object-fit: cover; */

}

.con-btn-job {
    z-index: 10000;
}

.car-2,
.car-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
    text-align: center;
}

.car-1::before {
    content: "";
    background-image: url(../img/slider-2.jpg);
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    /* object-fit: cover; */
    z-index: -1;
    filter: brightness(0.7);
    background-size: 100% 100%;
    background-position: center;
}

.car-2::before {
    content: "";
    background-image: url(../img/video-bg.webp);
    width: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 40% 30%;
    border-bottom-left-radius: 40% 30%;
    border-bottom-right-radius: 10px;
    position: absolute;
    height: 100%;
    /* object-fit: cover; */
    z-index: -1;
    filter: brightness(0.4);
     background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.input-group {
    color: black;
    padding: 7px;
    border-radius: 5px;
    width: auto;
    background-color: white;
}

.user-main-text-1st-h1 {
    font-weight: bold;
    font-size: 45px;
    color: #1ca774;
}

.user-main-text-2nd-h1 {
    font-size: 45px;
    font-weight: bold;
    color: black;
}

/* Make sure text appears above overlay */


.user-main-text2-1st-h1 {
    font-weight: bold;
    font-size: 45px;
    color: #1ca774;
}


/* Extra large devices (1200px and up) */
@media (min-width: 1200px) {

    .user-main-text-1st-h1,
    .user-main-text-2nd-h1 {
        font-size: 48px;
    }

    .car-2{
        margin: 1%;
        width: 98%;
    }
    .input-group {
        width: 50%;
    }

    .user-main-text-div {
        width: 50%;
        /* top: 17%; */
    }

    .user-main-text2-1st-h1 {
        font-weight: bold;
        font-size: 45px;
        color: #1ca774;
    }
}

/* Large devices (992px to 1199px) */
@media (max-width: 1199px) {

    .user-main-text-1st-h1,
    .user-main-text-2nd-h1 {
        font-size: 40px;
    }

    .input-group {
        width: 60%;
    }
    .car-2{
        margin: 1%;
        width: 98%;
    }

    .user-main-text-div {
        width: 60%;
    }

    .user-main-text2-1st-h1 {
        font-weight: bold;
        font-size: 45px;
        color: #1ca774;
    }
}

/* Medium devices (768px to 991px) */
@media (max-width: 991px) {


    .user-main-text-1st-h1,
    .user-main-text-2nd-h1 {
        font-size: 32px;
    }
    .car-2{
        margin: 1%;
        width: 98%;
    }
    .user-main-text2-1st-h1 {
        font-weight: bold;
        font-size: 40px;
        color: #1ca774;
    }
}

/* Small devices (576px to 767px) */
@media (max-width: 767px) {

    .user-main-text-div,
    .user-main-text2-div {
        width: 90%;
    }
    .car-2{
        margin: 1%;
        width: 98%;
    }
    .user-main-text-1st-h1,
    .user-main-text-2nd-h1 {
        font-size: 26px;
    }

    .user-main-text2-1st-h1 {
        font-weight: bold;
        font-size: 34px;
        color: #1ca774;
    }
}

/* Extra small devices like as mobile (less than 576px) */
@media (max-width: 575px) {

    .user-main-text-1st-h1,
    .user-main-text-2nd-h1 {
        font-size: 22px;
    }

    .user-main-text2-1st-h1 {
        font-weight: bold;
        font-size: 36px;
        color: #1ca71e;
        align-items: center;
        justify-items: center;
        margin-top: 25%;
    }

    .user-main-text2-div {
        width: 90%;
    }
    .car-1{
        height: 50vh;
    }
    .car-2 {
        width: 96%;
        height: 50vh;
        text-align: center;
        margin: 2%;
    }
}