/* Backdrop */
.btn-job{
    text-align: center;
    padding: 2%;
}
.container-main-job{
  margin: auto;
    /* margin-top: 7%; */
    width: 100%;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    /* z-index: 1000; */
    animation: fadeIn 0.5s ease-in-out;
  }
  
  /* Modal Container */
  .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1050;
    width: 90%;
    /* height: 500px; */
    max-width: 500px;
    animation: slideIn 0.5s ease-in-out;
  }
 
  .modal-body{
    margin: 5% 2%;
  }
  /* Modal Header */
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .modal-header h5{
    margin: auto;
  }
  .addjob-btn{
    margin: auto;
    margin-top: 5%;
    width: 100%;
  }
  .modal-body button{
    margin: auto;
    justify-content: center;
  }
  
  /* Close Button */
  .btn-close {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .job-list{
    width: 90%;
    margin: auto;
  }

  .img-div1 {
    position: relative;
    width: 100%;
    margin-bottom: 4%;
    /* height: 500px; */
}
.client-img{
    height: 600px;
    width: 100%;
    border-bottom-right-radius: 60% 75%;
    border-bottom-left-radius: 40% 20%;

}
.text-overlay-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  padding: 20px;
  width: 80%;
  z-index: 100;
}
.text-overlay-1>h1{
  font-size: 40px;
  color: #fff;
}

.dark-overlay-img1 {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5);  
  z-index: 10; 
  border-bottom-right-radius: 60% 75%;
  border-bottom-left-radius: 40% 20%;
}
  /* Animations */
  
  @keyframes slideIn {
    from {
      transform: translate(-50%, -60%);
      opacity: 0.5;
    }
    to {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
  
  @media (min-width:300px) and (max-width:576px) {
    .add-job-btn{
        margin-top: 4vh;
    }
    .btn-job{
        text-align: center;
    }
  }