.profile-img{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
  }
  .pro-card{
    /* margin-top: 1%; */
    margin: auto;
    justify-content: center;
    /* text-align: center; */
  }
  .pro-div{
    box-shadow: 5px 5px 10px black;
    margin-top: 1%;
  
  }
  .pro-btn{
    margin: auto;
  }